.grid-container {
    display: grid;
    grid-template-areas:
      "header header"
      "sidebar main"
      "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    height: 90vh;
  }
  
  .header {
    grid-area: header;
  }
  
  .sidebar {
    grid-area: sidebar;
    height: 100%;
  }
  
  .main-content {
    grid-area: main;
  }
  
  .footer {
    grid-area: footer;
  }
  
  @media (max-width: 768px) {
    .grid-container {
      grid-template-areas:
        "header"
        "sidebar"
        "main"
        "footer";
      grid-template-columns: 1fr;
  }
}
